<a href="https://colab.research.google.com/github/JatilaMolagoda/Demographic-Data-Analyzer/blob/main/Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv(r"/content/data/adult.data_code.csv")

In [10]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
race_count = pd.Series(df["race"].value_counts())
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [20]:
average_age_men = round(df[df["sex"] == "Male"]["age"].mean(),1)
average_age_men

39.4

In [23]:
num_bachelors = len(df[df["education"] == "Bachelors"])
total_num = len(df)
percentage_bachelors = round(num_bachelors / total_num *100, 1)
percentage_bachelors

16.4

In [24]:
higher_education = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
lower_education = df[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

In [25]:
non_percentage_higher = len(higher_education[higher_education.salary == ">50K"])
higher_education_rich = round(non_percentage_higher/len(higher_education) *100, 1)
higher_education_rich

46.5

In [26]:
non_percentage_lower = len(lower_education[lower_education.salary == ">50K"])
lower_education_rich = round(non_percentage_lower/len(lower_education) *100, 1)
lower_education_rich

17.4

In [27]:
min_work_hours = df["hours-per-week"].min()
min_work_hours

1

In [30]:
num_min_workers = df[df["hours-per-week"] == min_work_hours]

In [32]:
rich_percentage = round(len(num_min_workers[num_min_workers.salary == ">50K"]) / len(num_min_workers) *100, 1)

In [33]:
rich_percentage

10.0

In [37]:
country_count = df["native-country"].value_counts()
country_rich_count = df[df["salary"] == ">50K"]["native-country"].value_counts()

In [40]:
highest_earning_country = (country_rich_count / country_count * 100).idxmax()
highest_earning_country

'Iran'

In [41]:
highest_earning_country_percentage = round((country_rich_count / country_count * 100).max(), 1)
highest_earning_country_percentage

41.9

In [47]:
people_of_india = df[(df["native-country"] == "India") & (df["salary"] == ">50K")]
occupation_counts = people_of_india["occupation"].value_counts()
top_IN_occupation = occupation_counts.idxmax()
top_IN_occupation

'Prof-specialty'